body{
    margin: 0;
    padding: 0;
    background-color: rgb(204, 173, 173);
}

.toggle-input {
    display: none;
}

.toggle-label {
    display: inline;
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 10px;
    position: relative;
    cursor: pointer;

}

.toggle-input:checked + .toggle-label{
    background-color: aquamarine;
}
.toggle-label::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: rgb(193, 50, 50);
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: 0.2s;
}

.toggle-input:checked + .toggle-label::before {
    left: calc(100% -20px);
}